 *{
            margin: 0%;
            padding: 0%;
        }
        header{
           display: flex;
           justify-content: space-around;
            align-items: center;
            background-color: rgb(57, 55, 55);
            width: 100vw;
            height: 100px;
            color: white;
            font-size: 20px;
        }
        nav{
            display: flex;
          
        }
        ul{
            display: flex;
            list-style: none;
        }
        li > a{

            text-decoration: none;
            color: white;
            padding: 15px;
        }
        button{
            background-color: rgb(3, 142, 177);
            border-radius: 10px;
            box-shadow: 1px 2px 3px rgb(63, 57, 57);
            color: white;
            width: 100px;
            height: 50px;
        }
        .mobile-menu-icon{
            display: none;
        }
        nav.mobile-spanzivel{
            display: none;
        }
       #mobileMenu{
        display: none;
       }


        @media(max-width:770px) {
       .menu-bar{
        display: none;
       }
        
       .mobile-menu-icon{
        display: block;
        margin-right: 5%;
       }
       .mobile-spanzivel{
        display: block;
       }
       @media(max-width:481px){
       
        .mobile-menu-icon{
            display: flex;
            width: 50px;
            height: 50px;
            margin-left: 40%;
            
        }
        nav{
            display: none;
        }
        #mobileMenu{
            display: flex;
            flex-flow: column;
            align-items: center;
            width: 100vw;
        }
        .open {
            display: block !important;
        }

       }
       
        }
